<h1>Shelters</h1>
<p>Visit one of our shelters below or set up a <a href="/shelters/new">new shelter</a>.</p>
<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
<% end %>
