<h1>Shelters</h1>
<p>Visit one of our shelters below or set up a <%= link_to "new shelter", "/shelters/new" %>.</p>
<% @shelters.each do |shelter| %>
  <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
  <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit"%>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
<% end %>
