<h1>Shelters</h1>
<p>Visit one of our shelters below or <a href="/shelters/new">click here</a> to set up a new shelter.</p>
<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
<% end %>
